/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* @RenderSection("Styles", required: false) */ 


/* ESTILOOS GENERALES */
a.navbar-brand[b-ykoq6iafnl] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-ykoq6iafnl] {
  color: #0077cc;
}


.btn-primary[b-ykoq6iafnl] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-secondary[b-ykoq6iafnl] {
    color: #e5e5e5;
    background-color: #ff0000;
    border-color: #000000;
}

#btn-terciary[b-ykoq6iafnl] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ykoq6iafnl], .nav-pills .show > .nav-link[b-ykoq6iafnl] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-ykoq6iafnl] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ykoq6iafnl] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ykoq6iafnl] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ykoq6iafnl] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ykoq6iafnl] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
